.votes {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  .votes-number {
    margin: 2px 0px;
    width: 30px;
    font-size: 0.8rem;
    color: var(--ion-color-secondary-shade);
  }

  .icon {
    margin: 0 auto;
    font-size: 1.8rem;
    border-radius: 50% !important;

    ion-icon {
      font-size: 1.5rem;
    }
  }
}

.vertical-center {
  margin: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.image-card {
  border-radius: 5% 12%;
}

img {
  border-radius: 2%;
  margin: auto;
  display: block;
  width: 95%;
}
