<ion-card>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-around">
      <ion-col class="ion-float-left votes" size="1">
        <ion-icon class="votes" name="caret-up-circle-outline"></ion-icon>
        <ion-text class="votes" color="primary">
          <p class="votes-number">100k</p>
        </ion-text>
        <ion-icon class="votes" name="caret-down-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <ion-card-header>
          <ion-card-title>Image Title</ion-card-title>
          <ion-text class="" color="dark">
            <p>Descripcion de la imagen</p>
          </ion-text>
        </ion-card-header>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="ion-align-items-center">
    <ion-img src="../../../../assets/image_test/test.jpg"></ion-img>
  </ion-card-content>
</ion-card>
