<ion-card class="image-card">
  <ion-grid style="margin-top: 10px;" fixed>
    <ion-row class="ion-justify-content-evenly">
      <ion-col class="ion-align-self-center votes" size="2">
        <ion-icon class="icon" name="caret-up-circle-outline"></ion-icon>
        <ion-text class="votes ion-align-self-center" color="light">
          <p class="votes-number">100k</p>
        </ion-text>
        <ion-icon mode="ios" class="icon" name="caret-down-circle-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <div class="vertical-center">
          <ion-card-title>{{image.name}}</ion-card-title>
          <ion-text color="white">
            <p style="margin-block-start: 0px; margin-block-end: 10px;">
              {{image.description}}
            </p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content class="ion-justify-content-center" style="padding-top: 0;">
    <img src="../../../../assets/image_test/test.jpg" alt="Image" />
    <ion-button id="trigger-button" (click)="presentComents()" size="small" color="tertiary"
      style="margin-top: 6px; padding-left: 8px;" mode="ios">
      <ion-icon mode="ios" style="margin: 0 5px;" name="chatbubbles-outline"></ion-icon>
      <ion-label mode="ios">Comments</ion-label>
    </ion-button>
  </ion-card-content>
</ion-card>
