<ion-row>
  <ion-col size="12">
    <ion-searchbar placeholder="Filter Images" inputmode="text" type="text" (ionChange)="onSearchChange($event)"
      [debounce]="250" animated="true" color="secondary" mode="ios">
    </ion-searchbar>
  </ion-col>
</ion-row>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-wrap ion-justify-content-center">
      <ion-col size="4" *ngFor="let image of array">
        <img src="../../../../assets/image_test/room.jpg" alt="Minuatura de imagenes" (click)="test('hola')" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="25px" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-card color="primary">
  <ion-item-group [formGroup]="collection">
    <ion-item-divider sticky="true" color="primary">
      <ion-label style="font-size: 1rem;" mode="ios" position="stacked">About your Album</ion-label>
    </ion-item-divider>
    <ion-item class="rounded-input" color="medium">
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" placeholder="Album title" type="text" maxlength=100 mode="ios"></ion-input>
    </ion-item>
    <ion-item class="rounded-input" color="tertiary">
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description" name="description" placeholder="Describe your album..." mode="ios"
        wrap="soft" maxlength=250 autoGrow="true">
      </ion-textarea>
    </ion-item>
    <ion-item button (click)="send()">
      <ion-label>Summit</ion-label>
    </ion-item>
  </ion-item-group>
</ion-card>