<ion-header>
  <ion-toolbar color="transparent" class="ion-margin-vertical">
    <ion-title class="ion-text-center" size="large">Upload Image</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="ion-vertical-margin" *ngIf="url" [src]="url"></ion-img>
  <input style="display: none" type="file" accept=".png, .jpg, .jpeg, .gif" (change)="uploadImageFromGallery($event)"
    #photoInput />
  <ion-row>
    <ion-col class="ion-justify-content-center col-img" size="12">
      <ion-button *ngIf="showButton" (click)="(photoInput.click)" class="upload-btn" (click)="photoInput.click()">
        <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
        Upload
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-list [formGroup]="form">
    <ion-item>
      <ion-label position="floating" color="ligth">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ligth">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ligth">Add Tag</ion-label>
      <ion-input formControlName="tag" (keyup.enter)="addTag()"></ion-input>
    </ion-item>
    <ion-chip *ngFor="let tag of tags" outline color="secondary">
      <ion-label [color]="color">{{tag}}</ion-label>
    </ion-chip>
  </ion-list>
  <ion-row>
    <ion-col class="ion-justify-content-center col-img" size="12">
      <ion-button (click)="publish()" shape="round" color="secondary">
        Publish
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
