<ion-grid>
  <ion-row class="ion-justify-content-start ion-wrap">
    <ion-col size="6" class="collection-content ion-wrap">
      <ion-thumbnail class="image-miniature">
        <img src="../.../../../../../assets/image_test/room.jpg" alt="test image" />
      </ion-thumbnail>
      <ion-thumbnail class="image-miniature">
        <img src="../.../../../../../assets/image_test/test.jpg" alt="test image" />
      </ion-thumbnail>
      <ion-thumbnail class="image-miniature">
        <img src="../.../../../../../assets/image_test/room.jpg" alt="test image" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
</ion-grid>