<ion-app>
  <ion-menu #menu content-id="main-content" menuId="custom" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Imagine</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item button *ngFor="let page of pages" [replaceUrl]="true" [routerLinkActive]="'primary'"
        [routerLink]="page.url" routerDirection="root">
        <ion-icon slot="start" [name]="page.icon"></ion-icon>
        <ion-label>{{page.title | titlecase}}</ion-label>
      </ion-item>
    </ion-content>
    <ion-footer>
      <ion-item button>
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onClick()">
            <ion-menu-button auto-hide="false"></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button routerLink="/upload">
            <ion-icon slot="icon-only" name="duplicate-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Imagine</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
      <ion-tabs>
        <ion-tab-bar slot="bottom,top">
          <ion-tab-button *ngFor="let page of pages" [replaceUrl]="true" [routerLinkActive]="'primary'"
            [routerLink]="page.url" color="success" routerDirection="root">
            <ion-icon [name]="page.icon"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-app>
