<ion-grid class="ion-margin-top ion-no-margin">
  <h3 class="ion-margin ion-text-center">Login</h3>
  <form class="ion-margin-vertical" [formGroup]="loginForm" (ngSubmit)="!loginForm.invalid && login()">
    <ion-item class="form-goup">
      <ion-label for="username">Username</ion-label>
      <ion-input novalidate
        id="username"
        class="form_control"
        formControlName="username"
        placeholder="pepe.rodriguez"></ion-input>
      <ion-item class="alertVerification alert alert-danger alert-dismissible fade show" *ngIf="loginForm.get('username')!.hasError('required') &&loginForm.get('username')!.touched">
        username required
      </ion-item>
    </ion-item>
    <ion-item class="form-goup">
      <ion-label for="password">password</ion-label>
      <ion-input novalidate
        id="password"
        class="form_control"
        type="password"
        formControlName="password"
        placeholder="******"></ion-input>
      <ion-item  class="alertVerification alert alert-danger alert-dismissible fade show" *ngIf="loginForm.get('password')!.hasError('required') &&loginForm.get('password')!.touched">
        password required
      </ion-item>
    </ion-item>
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-button type="submit" color="light" class="ion-margin-horizontal" [disabled]="!loginForm.valid">Login</ion-button>
      <ion-button type="button" color="dark" class="ion-margin-horizontal" routerLink="/auth/signup">SignUp</ion-button>
    </ion-row>
  </form>
</ion-grid>
