/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Roboto', 'Roboto Condensed', 'Helvetica', sans-serif;
  --ion-color-primary: #051026;
  --ion-color-primary-rgb: 5, 16, 38;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #040e21;
  --ion-color-primary-tint: #1e283c;

  --ion-color-secondary: #0C70F2;
  --ion-color-secondary-rgb: 12, 112, 242;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0b63d5;
  --ion-color-secondary-tint: #247ef3;

  --ion-color-tertiary: #0B438C;
  --ion-color-tertiary-rgb: 11, 67, 140;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0a3b7b;
  --ion-color-tertiary-tint: #235698;

  --ion-color-success: #08A63F;
  --ion-color-success-rgb: 8, 166, 63;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #079237;
  --ion-color-success-tint: #21af52;

  --ion-color-warning: #D9961A;
  --ion-color-warning-rgb: 217, 150, 26;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #bf8417;
  --ion-color-warning-tint: #dda131;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: var(--ion-color-primary-shade);
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #222;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: var(--ion-color-primary);
  --ion-toolbar-background: var(--ion-color-tertiary-shade);
  --ion-tab-bar-background: var(--ion-color-tertiary-shade);
  --ion-card-background: var(--ion-color-primary-tint);

}