/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Roboto', 'Roboto Condensed', 'Helvetica', sans-serif;
  --ion-color-primary: #0d00a4;
  --ion-color-primary-rgb: 13, 0, 164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0b0090;
  --ion-color-primary-tint: #251aad;

  --ion-color-secondary: #22007c;
  --ion-color-secondary-rgb: 34, 0, 124;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #1e006d;
  --ion-color-secondary-tint: #381a89;

  --ion-color-tertiary: #140152;
  --ion-color-tertiary-rgb: 20, 1, 82;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #120148;
  --ion-color-tertiary-tint: #2c1a63;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #d7263d;
  --ion-color-danger-rgb: 215, 38, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bd2136;
  --ion-color-danger-tint: #db3c50;

  --ion-color-medium: #02010a;
  --ion-color-medium-rgb: 2, 1, 10;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #020109;
  --ion-color-medium-tint: #1b1a23;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-background-color: #04052e;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #222;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #04052e;
  --ion-toolbar-background: #040525;
  --ion-tab-bar-background: #22007c;
  --ion-card-background: #03031c;

}
