<ion-header>
  <ion-list>
    <ion-item>
      <ion-grid class="ion-no-border no-margin-top" fixed>
        <ion-row class="ion-justify-content-evenly ion-margin-vertical">
          <ion-col size="2">
            <ion-avatar style="margin: 0 auto">
              <img
                [src]="
                  profile.idImagenPerfil
                    ? '../.././../../assets/image_test/avatar.png'
                    : profile.idImagenPerfil
                "
                alt="Profile image"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <ion-text class="ion-text-center" color="light-shade">
              <h1 class="no-margin-top no-margin-bottom ion-text-end">
                {{ profile.idUsuario }}
              </h1>
              <p class="no-margin-top ion-text-end" style="margin-bottom: 5px">
                {{
                  profile.texto === null
                    ? "lorem impusm is dolor"
                    : profile.texto
                }}
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center ion-justify-content-evenly">
          <ion-col class="ion-no-padding" size="4">
            <ion-text color="light-tint">
              <h3 class="ion-no-margin">Following</h3>
            </ion-text>
            <ion-badge color="secondary" mode="ios">{{
              profile.numfollowBy
            }}</ion-badge>
          </ion-col>
          <ion-col class="ion-no-padding" size="4">
            <ion-text color="light-tint">
              <h3 class="ion-no-margin">Followers</h3>
            </ion-text>
            <ion-badge color="secondary" mode="ios">{{
              profile.numfollowers
            }}</ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-segment color="secondary">
            <ion-segment-button
              *ngFor="let page of pages"
              [routerLink]="page.url"
              [value]="page.title"
            >
              <ion-label color="light">{{ page.title }}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
