<ion-content>
  <ion-list>
    <ion-card class="profile-card no-margin-top" color="medium">
      <ion-grid fixed>
        <ion-row class="ion-align-items-center" class="ion-wrap">
          <ion-col size="12">
            <ion-avatar style="margin: 0 auto;">
              <img src="../../../../assets/image_test/avatar.png" alt="Profile image" />
            </ion-avatar>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-center" color="primary">
              <h1 class="no-margin-top no-margin-bottom">Awesome Name</h1>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text class="ion-text-center" color="secondary">
              <p class="no-margin-top" style="margin-bottom: 5px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, similique!
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center ion-justify-content-evenly">
          <ion-col class="ion-no-padding" size="4">
            <ion-text color="light">
              <h3 class="ion-no-margin">Follwing</h3>
            </ion-text>
            <ion-badge color="secondary" mode="ios">100</ion-badge>
          </ion-col>
          <ion-col class="ion-no-padding" size="4">
            <ion-text color="light">
              <h3 class="ion-no-margin">Followers</h3>
            </ion-text>
            <ion-badge color="primary" mode="ios">100</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
    <app-image [variable]="'somevalue'"></app-image>
  </ion-list>
  <ion-infinite-scroll threshold="50px" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Caragando">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>